:root{
    --azul:#0067B1;
    --azul2:#004D8A;
    --verde:#4CAF3D;
    --verde2:#2E8B57;
    --cinza:#F4F7FB;
    --texto:#263238;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#f4f7fb;
    overflow:hidden;
}

/* ===== LADO ESQUERDO ===== */

.left-side{

    background:linear-gradient(135deg,#005FB8,#10a8df,#38B64A);

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    position:relative;

    overflow:hidden;

}

.left-side::before{

    content:"";

    position:absolute;

    width:700px;
    height:700px;

    background:rgba(255,255,255,.06);

    border-radius:50%;

    top:-250px;
    left:-250px;

}

.left-side::after{

    content:"";

    position:absolute;

    width:500px;
    height:500px;

    background:rgba(255,255,255,.05);

    border-radius:50%;

    bottom:-180px;
    right:-180px;

}

.left-content{

    position:relative;

    z-index:2;

    text-align:center;

    max-width:420px;

}

.logo{

    width:140px;

    margin-bottom:25px;

}

.left-content h1{

    font-size:60px;

    font-weight:700;

}

.left-content span{

    color:#8FE85B;

}

.subtitle{

    margin-top:15px;

    font-size:22px;

    opacity:.95;

}

.features{

    margin-top:50px;

    text-align:left;

}

.features div{

    margin:18px 0;

    font-size:20px;

}

.features i{

    color:#A8F25E;

    margin-right:12px;

}

/* ===== LADO DIREITO ===== */

.right-side{

    background:white;

    display:flex;

    justify-content:center;

    align-items:center;

}

.login-card{

    width:500px;

    padding:50px;

    border-radius:20px;

    background:white;

    box-shadow:0 15px 45px rgba(0,0,0,.08);

}

.login-card h2{

    color:var(--azul2);

    font-size:42px;

    font-weight:bold;

}

.login-card p{

    color:#666;

    margin-bottom:35px;

}

label{

    font-weight:600;

    margin-bottom:8px;

    display:block;

}

.input-group-text{

    background:white;

    border-radius:12px 0 0 12px;

}

.form-control{

    height:55px;

    border-left:none;

}

.form-control:focus{

    box-shadow:none;

    border-color:var(--azul);

}

.btn-login{

    width:100%;

    height:58px;

    border:none;

    border-radius:14px;

    color:white;

    font-size:20px;

    font-weight:600;

    background:linear-gradient(90deg,#0067B1,#4CAF3D);

    transition:.3s;

}

.btn-login:hover{

    transform:translateY(-3px);

    box-shadow:0 12px 25px rgba(0,103,177,.30);

}

.btn-login i{

    margin-right:8px;

}

.footer{

    margin-top:35px;

    text-align:center;

    color:#888;

}

/* ===== RESPONSIVO ===== */

@media(max-width:992px){

.left-side{

    display:none;

}

.right-side{

    width:100%;

}

.login-card{

    width:95%;

    padding:35px;

    box-shadow:none;

}

.login-card h2{

    font-size:34px;

}

}
